<table>
    <thead>
        <tr>
            <th><h1>ID</h1></th>
            <th><h1>Name</h1></th>
            <th><h1>Body</h1></th>
            
        </tr>
    </thead>

    <tbody>
        <%# iterate %>
        <%@articles.each do |article| %>
            <tr>
                <%# print %>
                <td><%= article.id %></td>
                <td><b><%= article.name %></b></td>
                <td><%= article.body %></td>
                <td><%= link_to 'Edit', edit_article_path(article.id) %></td>
                <td><%= link_to 'Show',show_article_path(article.id) %></td>
                <td><%= link_to 'Delete', delete_article_path(article.id) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to 'New Article',new_article_path %>