<h1>ARTICLES</h1>
<table>
    <thead>
        <tr>
            <th><h6>ID</h6></th>
            <th><h2>Name</h2></th>
            <th><h2>Body</h2></th>
            <th><h2> </h2></th>
            <th><h2> </h2></th>
            <th><h2> </h2></th>
        </tr>
    </thead>

    <tbody>
        <%# iterate %>
        <%@articles.each do |article| %>
            <tr>
                <%# print %>
                <td id = "article-id"><%= article.id %></td>
                <td id = "article-name"><b><%= article.name %></b></td>
                <td id = "article-body"><%= article.body %></td>
                <td><%= link_to 'Edit', edit_article_path(article.id) %></td>
                <td><%= link_to 'Show',show_article_path(article.id) %></td>
                <td><%= link_to 'Delete', delete_article_path(article.id), data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to 'Create New Article',new_article_path %>